body {
    font-family: 'Open Sans', sans-serif;
    color: #201b2d;
    font-size: 16px;
    line-height: 1.7em ;
    margin: 0;
    background: rgb(194,202,208);
    background: linear-gradient(243deg, rgba(194,202,208,1) 0%, rgba(194,176,176,0.7234244039412641) 70%);
    padding: 0;
}
* {
    box-sizing: border-box;
}
h1, h2, h3 {
    font-family: 'RomanT', Helvetica, sans-serif;
    font-size: 2em;
}
.main {
    
    min-height: 100 vh;
    margin: 0 10vh;
}
div {
    padding: 2em;
}
header, footer {
    background: rgb(247,214,216);
    background: linear-gradient(27deg, rgba(247,214,216,1) 0%, rgba(231,113,121,1) 50%, rgba(116,23,29,1) 100%);
    height: 15vh;
    font-family: 'RomanT', Helvetica, sans-serif;
    color: #000;


}
header{    
    font-size: 1.2em;
    font-weight: 700;
    padding-right: 100px;
}
footer {
    font-weight: 700;
    padding: 0 50px;
}
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;  
}
.list {
    display: inline;
    margin: 0 20px;
}
a {
    text-decoration: none; 
}

section {    
    padding: 1em;    
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: start;
}
.size {
    flex:0.5;
    padding: 1em;
}
.border {
    border-bottom: 5px dotted #000;
}

.img {
    margin-right: 5em;
    align-content: center;
}
.title {
    text-align: center;
}

.pre {
    margin: 0;
    padding: 0;
    text-align: start;
}
.my_code {
    width: 408px;
}
.direction {
    justify-content: space-between;
}
